
<div class="classification-index-container">
  <div class="row">
    <div class="col">
      <h1>Classifications</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th>Group</th>
          <th>Name</th>
          <th>Exclude Transactions?</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @classifications.each do |classification| %>
          <tr>
            <td><%= classification.group.titlecase %></td>
            <td><%= classification.name %></td>
            <td><%= classification.excluded? ? 'Yes' : 'No' %></td>
            <td>
              <%= link_to 'Delete', classification_path(classification), method: :delete, class: 'btn btn-danger float-right' %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
